
<div class="base">
    <div class = "page-header">
        <div class = "row">
            <div class = "col-md-10">
                <h1>Login <small>say your name and be recognized!</small></h1>
            </div>
            <!--<div class = "col-md-2">
                <a href="#" ui-sref="base.projects.create" class = "btn btn-default pull-right"><span class = "glyphicon glyphicon-plus-sign"></span> New project</a>
            </div> -->
        </div>

    </div>
    <div class = "row">
        <div class = "col-md-12">
            <iframe src="static/auth/templates/sink.html" name="sink" style="display:none"></iframe>
                <form name="loginForm" action="static/auth/templates/sink.html" target="sink" method="post"
                  ng-controller="LoginController" ng-submit="login(credentials)"
                  novalidate form-autofill-fix>
                    <div class = "form-group">
                        <label for="username">Username:</label>
                        <input type="text" id="username" ng-model="credentials.username" class = "form-control">
                    </div>
                    <div class = "form-group">
                        <label for="password">Password:</label>
                        <input type="password" id="password" ng-model="credentials.password" class = "form-control">
                    </div>

                <button type="submit" class = 'btn btn-default'>Login</button>
            </form>
            </div>
        </div>