<div class="base">
    <div class = "page-header">
        <div class = "row">
            <div class = "col-md-10">
                <h1>Login <small>say your name and be recognized!</small></h1>
            </div>
{#            <div class = "col-md-2">#}
{#                <a href="#" ui-sref="base.projects.create" class = "btn btn-default pull-right"><span class = "glyphicon glyphicon-plus-sign"></span> New project</a>#}
{#            </div>#}
        </div>

    </div>
    <div class = "row">
        <div class = "col-md-12">
                <form
            name="form"
            role="form"
            class="login"
            ng-cloak
            novalidate
            action=""A
            method="POST"
            ng-submit="auth.login(form, $event)"
        >
            <div class="form">
                <div class="form-header">
                    <h1>Login</h1>
                </div>

                <div class="inner">
                    <div class="form-group clearfix" ng-class="{'has-error': failed}">
                        <div class="field clearfix">
                            <input
                                type="text"
                                name="username"
                                class="form-control"
                                placeholder="Username or email"
                                ng-model="auth.credentials.username"
                                required
                                />
                        </div>
                    </div>

                    <div class="form-group clearfix" ng-class="{'has-error': failed}">
                        <div class="field clearfix">
                            <input
                                type="password"
                                name="password"
                                class="form-control"
                                value=""
                                placeholder="Password"
                                ng-model="auth.credentials.password"
                                required
                                />
                        </div>
                    </div>

                    <div class="form-group clearfix">
                        <input type="submit" class="btn btn-primary full-width" value="Login"/>
                    </div>

                    <div class="form-group clearfix has-error" ng-show="auth.failed">
                        <span class="help-block" translate>Wrong username and/or password.</span>
                    </div>
                </div>
            </div>
        </form>

        </div>
    </div>
