{% extends 'base.html' %}
{% load i18n %}

{% block page_title %}Tasks <small>all tasks</small>{% endblock %}

{% block content %}
    <div class = "row">
        <div class = "col-md-12">
            <input ui-event="{keyup: 'processEvent($event)' }" ng-model="task_input" type="text" placeholder="add tasks here" class = "form-control">
        </div>
    </div>
    <div class = "row">
        <div class = "col-md-1">
            &nbsp;
        </div>
        <div class = "col-md-8">
            Task
        </div>
        <div class = "col-md-3">
            Actions
        </div>
    </div>
    {% for task in object_list %}
    <div class = "row">
        <div class = "col-md-1">
            <input type="checkbox">
        </div>
        <div class = "col-md-8">
            {{ task.title }}
        </div>
        <div class = "col-md-3">
            &nbsp;
        </div>
    </div>
    {% endfor %}
{% endblock %}