<div class="base">
    <div class = "page-header">
        <h1>
            <div><input class = "no-border full-width" type = "text" ng-model = "project.title" placeholder="Enter project title here"></div>
        </h1>
    </div>

    <div class = "row">
        <div class = "col-md-12">
            <tags-input class = "no-border" ng-model="tags" display-property="name" key-property="id" add-from-autocomplete-only="true" placeholder="">
                <auto-complete source="load_tags($query)"></auto-complete>
            </tags-input>
        </div>
    </div>

    <div class = "row">
        <div class = "col-md-12">
            <textarea msd-elastic ng-model = "project.description" class = "no-border full-width" placeholder="Enter project description here">
            </textarea>
        </div>
    </div>

    <div class = "row">
        <div class = "col-md-6">
            <p class="input-group">
              <input type="text" class="form-control" uib-datepicker-popup="[[format]]" is-open="status[0].opened" ng-model="project.start_date" ng-required="true" close-text="Close" datepicker-options="dateOptions" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event, 0)"><i class="glyphicon glyphicon-calendar" ></i></button>
              </span>
            </p>
        </div>
        <div class = "col-md-6">
            <p class="input-group">
              <input type="text" class="form-control" uib-datepicker-popup="[[format]]" is-open="status[1].opened" ng-model="project.end_date" close-text="Close" datepicker-options="dateOptions" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event, 1)"><i class="glyphicon glyphicon-calendar" ></i></button>
              </span>
            </p>
        </div>
    </div>


    <div class = "row">
        <div class = "col-md-2 col-md-offset-10">
            <button class = "btn btn-default pull-right" ng-click="updateProject()">Save</button>
        </div>
    </div>


</div>


