<div class="base">
    <div class = "page-header">
        <div class = "row">
            <div class = "col-md-10">
                <h1>
                    <div ng-bind="project.title"></div>
                </h1>
            </div>
            <div class = "col-md-2">
                <a href="#" ui-sref="base.projects.edit({id:project.id})">Edit</a>
            </div>
        </div>
    </div>

    <div class = "row">
        <div class = "col-md-12">
            <div ng-cloak ng-show="mode == 'view'" ng-bind-html="project.description | parseUrlFilter:'_blank'"></div>
            <div ng-show="mode == 'edit'">
                <textarea msd-elastic ng-model = "project.description" class = "no-border full-width">
                </textarea>
            </div>
        </div>
    </div>

    <div class = "row">
        <div class = "col-md-12">
            <div ng-cloak>
                <span style="margin-right: 5px; color: [[ calculate_luminance(tag.color) ]]; background-color: [[ tag.color ]]" class = "label label-default" ng-repeat="tag in project.tags track by $index">
                    [[ tag.name ]]
                </span>
            </div>
        </div>
    </div>

    <div class = "row">
        <ul>
            <li ng-repeat="task in project.tasks">
                [[ task ]]
            </li>
        </ul>
    </div>

</div>


