<div class="base">
    <div class = "page-header">
        <div class = "row">
            <div class = "col-md-10">
                <h1>
                    <div ng-bind="project.title"></div>
                </h1>
                <div class = "project-dates">
                    <div ng-cloak>
                        <span ng-if="(project.start_date && project.end_date)">
                            [[ project.start_date|date:'dd.MM.yyyy']] - [[ project.end_date|date:'dd.MM.yyyy']]
                        </span>
                        <span ng-if="project.start_date && !project.end_date">
                            Starts on [[ project.start_date|date:'dd.MM.yyyy']]
                        </span>
                        <span ng-if="!project.start_date && project.end_date">
                            Ends on [[ project.end_date|date:'dd.MM.yyyy']]
                        </span>
                    </div>
                </div>
            </div>
            <div class = "col-md-2">
                <a href="#" ui-sref="base.projects.edit({id: project.id})" class = "btn btn-default pull-right"><span class = "glyphicon glyphicon-edit"></span> Edit project</a>
            </div>
        </div>
    </div>

    <div class = "row row-spacing">
        <div class = "col-md-12">
            <div ng-cloak ng-bind-html="project.description | parseUrlFilter:'_blank'"></div>
        </div>
    </div>

    <div class = "row row-spacing">
        <div class = "col-md-12">
            <h2>Tasks</h2>
        </div>
    </div>

    <div class = "row">
        <div class = "col-md-12">
            <div ng-if="task_errors" ng-repeat="(field, errors) in task_errors">[[ field ]]: <span ng-repeat="e in errors">[[ e ]]</span></div>
            <div class="input-group">
                <input ng-show = "mode == 'add'" ng-keyup="process_task($event)" ng-model="new_task.title" type="text" placeholder="mai multe task-uri!" class = "form-control">
                <input ng-show = "mode == 'search'" ng-keyup="process_search($event)" ng-model="query" type="text" placeholder="prea multe task-uri?" class = "form-control">
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">[[ mode_names[mode] ]] <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li><a href="" ng-click="mode = 'search'">[[ mode_names['search'] ]]</a></li>
                        <li><a href="" ng-click="mode = 'add'">[[ mode_names['add'] ]]</a></li>
                    </ul>
                    <input type="hidden" name="category" class="category">
                </div><!-- /btn-group -->
            </div>

        </div>
    </div>

    <task-list tasks="project.tasks"></task-list>
</div>


