<div class="base">
    <div class = "page-header">
        <div class = "row">
            <div class = "col-md-10">
                <h1>Projects <small>get things done!</small></h1>
            </div>
            <div class = "col-md-2">
                <a href="#" ui-sref="base.projects.create" class = "btn btn-default pull-right"><span class = "glyphicon glyphicon-plus-sign"></span> New project</a>
            </div>
        </div>

    </div>

    <div class = "task_list">
        <div class = "row" ng-repeat="project in projects"  ng-init = "project_class = 'project-normal'" ng-class="project_class"
             ng-mouseenter="project_class = 'project-hover'"
             ng-mouseleave="project_class = 'project-normal'">
            <div class = "col-md-1">
                <span class = "label label-info" ng-bind="project.tasks.length"></span>
            </div>
            <div class = "col-md-10" ui-sref="base.projects.detail({id: project.id})">
                <div style="font-weight: bold;" ng-bind="project.title"></div>
                <div class = "project-list-description" ng-cloak ng-show="project.description.length > 0"><small>[[ project.description | limitTo:200 ]]</small></div>
            </div>
            <div class = "col-md-1">
                <div class = "btn-group btn-group-xs pull-right">
                    <a class = "btn btn-default" ui-sref="base.projects.edit({id: project.id})"><div class = "glyphicon glyphicon-edit"></div></a>
                    <a class = "btn btn-default" ng-click="removeProject(project);"><div class = "glyphicon glyphicon-trash"></div></a>
                </div>
            </div>
        </div>
    </div>
</div>
