<div class="base">
    <div class = "page-header">
        <div class = "row">
            <div class = "col-md-10">
                <h1>Tags <small>keep things together!</small></h1>
            </div>
            <div clas = "col-md-2">
                <h1 class = "pull-right">
                    <a ui-sref="base.tags.create" class = "btn btn-default"><span class = "glyphicon glyphicon-plus-sign"></span> Add</a>
                </h1>
            </div>
        </div>

    </div>
    <div class = "tag">
        <div class = "row" ng-repeat="tag in tags"  ng-init = "tag_class = 'task-normal'" ng-class="task_class"
             ng-mouseenter="tag_class = 'task-hover'"
             ng-mouseleave="tag_class  = 'task-normal'">
            <div class = "col-md-10">
                <div style="min-height: 30px;">
                    <a href="#" ui-sref="base.tags.detail({id: tag.id})"><span style="margin-right: 5px; color: [[ tag.luminance ]]; background-color: [[ tag.color ]]"
                          class = "label label-default">
                        [[ tag.name ]]
                    </span></a><br><small>[[ tag.description ]]</small>
                </div>
            </div>
            <div class = "col-md-1">
                <span class = "badge">[[ tag.count ]]</span>
            </div>
            <div class = "col-md-1">
                <div class = "btn-group btn-group-xs pull-right">
                    <a class = "btn btn-default" ui-sref="base.tags.detail({id: tag.id})"><div class = "glyphicon glyphicon-edit"></div></a>
                    <a class = "btn btn-default" ng-click="remove_tag(tag);"><div class = "glyphicon glyphicon-trash"></div></a>
                </div>
            </div>
        </div>
    </div>
</div>
