<div class="base">
    <div class = "page-header">
        <div class = "row">
            <div class = "col-md-9">
                <h1>
                    <div ng-show="mode == 'view'" ng-bind="task.title" ng-class="{strikethrough: task.completed}"></div>
                    <div ng-show="mode == 'edit'"><input class = "no-border full-width" type = "text" ng-model = "task.title"></div>
                </h1>
            </div>
            <div class = "col-md-3">
                <h1>
                    <div class = "btn-toolbar pull-right">
                        <div class = "btn-group">
                            <a class = "btn btn-default" ng-click="toggle_priority()"><i class = "fa" ng-class="task_priority_icon()"></i></a>
                        </div>

                        <div class = "btn-group">
                            <a class = "btn btn-default" ng-click="toggle_completed()"><div class="glyphicon" ng-class="{'glyphicon-check': task.completed, 'glyphicon-unchecked': !task.completed}"></div></a>
                            <a class = "btn btn-default" ng-click="toggle_mode()">
                                <span ng-show="mode == 'edit'"><div class = "glyphicon glyphicon-save"></div></span>
                                <span ng-show="mode == 'view'"><div class = "glyphicon glyphicon-edit"></div></span>
                            </a>
                            <a class = "btn btn-danger" ng-click="remove_task()"><div class="glyphicon glyphicon-trash"></div></a>
                        </div>
                    </div>
                </h1>
            </div>
        </div>
        <div class = "row">
        <div class = "col-md-12">
            <div ng-cloak>
                <span style="margin-right: 5px; color: [[ tag.luminance ]]; background-color: [[ tag.color ]]" class = "label label-default" ng-repeat="tag in task.tags track by $index">
                    [[ tag.name ]]
                </span>
            </div>
        </div>
    </div>
    </div>

    <div class = "row">
        <div class = "col-md-12">
            <tags-input class = "no-border" ng-show="mode == 'edit'" ng-model="tags" display-property="name" key-property="id" add-from-autocomplete-only="true" placeholder="">
                <auto-complete source="load_tags($query)"></auto-complete>
            </tags-input>
        </div>
    </div>

    <div class = "row">
        <div class = "col-md-12">
            <div ng-cloak ng-show="mode == 'view'" ng-bind-html="task.description | parseUrlFilter:'_blank'"></div>
            <div ng-show="mode == 'edit'">
                <textarea msd-elastic ng-model = "task.description" class = "no-border full-width">
                </textarea>
            </div>
        </div>
    </div>

</div>


