<div class = "col-md-1">
    <div class = "glyphicon" ng-class="{'glyphicon-unchecked': !item.task.completed, 'glyphicon-check': item.task.completed}" ng-click="item.toggle_completed()"></div>
    <i class = "fa" ng-class="item.task.priority_icon"></i>
</div>
<div class = "col-md-7" ui-sref="base.tasks.detail({ id: item.task.id })">
    <span ng-bind="item.task.title" ng-class="{strikethrough: item.task.completed}"></span>
    &nbsp;<span ng-show="item.task.project" class = 'label label-success'>Project</span>
    <div class = "task-list-description" ng-cloak ng-show="item.task.description.length > 0"><small>[[ item.task.description | limitTo:200 ]]</small></div>
    <div class = "task-list-description" ng-cloak><small>[[ item.task.changed_date|date ]]</small></div>
</div>
<div class = "col-md-3">
    <div class = "pull-right">
        <span style="margin-right: 5px; color: [[ tag.luminance ]]; background-color: [[ tag.color ]]"
              class = "label label-default" ng-repeat="tag in item.task.tag_objs track by $index"
                ng-click="add_tag_to_search(tag)">
            [[ tag.name ]]
        </span>
    </div>
</div>
<div class = "col-md-1">
    <div class = "btn-group btn-group-xs pull-right">
        <a class = "btn btn-default" ng-click="item.taskList.remove_task(item.task);"><div class = "glyphicon glyphicon-trash"></div></a>
    </div>
</div>

